# UD10 - Esempio variabili ambiente
# Compilare una copia locale solo se serve per annotazioni o comandi.

SUBSCRIPTION_ID=""
RESOURCE_GROUP="rg-obs-ud05-..."
LOCATION="westeurope"
LAW_NAME="law-obs-ud08-..."
WORKSPACE_ID=""
APP_SERVICE_NAME=""
STORAGE_ACCOUNT_NAME=""
VM_NAME=""
