# UD16 - Variabili esempio per verifiche locali Azure CLI
export RG="rg-obs-udXX-nome"
export ACR_NAME="nomeacr"
export ACA_ENV="acaenv-obs-ud16"
export BACKEND_APP="ca-obs-ud16-backend"
export FRONTEND_APP="ca-obs-ud16-frontend"
export IMAGE_TAG="INSERIRE_BUILD_ID_UD15"
